.ks_overlay
{
	position: fixed; 
	width: 100%;  
	height: 100%;  
	top: 0;  
	left: 0; 
	right: 0; 
	bottom: 0; 
	background-color: rgba(255,255,255,0.7); 
	z-index: 6000;
}


.remove_overlay_btn {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;

}

.ks_container {
  margin: auto;
  overflow: hidden;
  width: 700px;
  height: 250px;
}


.ks_learn_box {
  /*position: absolute;
  width: 70%;
  height: 100%;
  left: 12%;*/
  background: linear-gradient(to bottom right, #b0db7d 40%, #99dbb4 100%);
  border-radius: 20px;
  box-shadow: 5px 5px 20px rgba(203, 205, 211, 10);
  perspective: 40px;
  height: -webkit-fill-available;
  width: 100%;
  height:100%;

}



.ks_dot {
  width: 8px;
  height: 8px;
  background: #FCFCFC;
  border-radius: 50%;
  position: absolute;
  top: 4%;
  right: 6%;
 
}

.ks_dot:hover{
    background: darken(#FCFCFC, 20%);
}

.ks_two {
  left: 97%;
  opacity: 0.5;
}


 .ks_button_box {
   color:green;
   cursor: pointer;
	 position: absolute;
	 background: #fcfcfc;
	 width: 50%;
	 height: 15%;
	 border-radius: 20px;
	 top: 73%;
	 left: 25%;
	 outline: 0;
	 border: none;
	 box-shadow: 2px 2px 10px rgba(119, 119, 119, .5);
	 transition: all 0.5s ease-in-out;
}
 .ks_button_box:hover {
	 background: #efefef;
	 transform: scale(1.05);
	 transition: all 0.3s ease-in-out;
}


.ks_message{
   padding: 3em;
   max-height: 40%;

}

.ks_message h1 {
  color:white;
  text-align: center;
  font-size: 1.3em;
  font-weight: 100;
  letter-spacing: 3px;
  text-transform: uppercase;
}


.ks_message p{
  color:black;
  text-align: center;

}


.ks_uppercase { 
 text-transform: capitalize;
}
