.cursor-pointer{
  cursor: pointer;
}
.container {
  padding: 0 40px;
  position: relative;
  max-width: 1100px;
  margin: 0 auto;
  overflow: hidden;
}

#theme_color_picker{
  display: flex;
  flex-direction: row;

}

.default_theme{

}

.box {
  height: 40px;
  width: 40px;
  border-radius: 10px;
  transition: all .2s ease-in-out;
}
.box:hover {
  transform: scale(1.1);
}

#bluewave {
  background: linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF); 
}
#summertime {
  background: linear-gradient(to right, #a8ff78, #78ffd6);
}
#party {
  background: linear-gradient(to right, #333333, #dd1818); 
}
#stars {
  background: linear-gradient(to right, #4568dc, #b06ab3); 
}

#africanstyle{
  background: linear-gradient(to right, #ee2e05 ,  #f65c00,  #fb7f00, #fe9e00,  #ffbc00);
}
.wrapper{
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin: 0.3rem;
}
.wrapper p {
  text-align: center;
  margin: 0;
  padding: 10px;
  font-family: Lobster;
}

.chatbot-illustration {
  background-image: url(../images/settings.svg);
  background-size: 480px 300px;
    width: 480px;
    height: 300px;
    display: block;
    position: absolute;
    margin: 0 auto;
    bottom: -2px;
    left: 0;
    right: 0;
}
@media only screen and (max-width: 1000px){
  #theme_color_picker {
    flex-direction: row;
  }  
  .wrapper {
    max-width: 100%;
    margin: 0 auto;
    padding: 2rem;
  }
}
