@import "./custom-variables";

@import "../../node_modules/bootstrap/scss/bootstrap";
// Theme
@import "./theme/theme";

//Layout
@import "./layout/layout-index";

@import "./base/_base-index";

//components
@import "./components/components-index";

a {
  color: #0254eb;
}
a:visited {
  color: #0254eb;
}
a.morelink {
  text-decoration: none;
  outline: none;
}
.morecontent span {
  display: none;
}
.comment {
  width: 400px;
  background-color: #f0f0f0;
  margin: 10px;
}
