.aside {
  @extend .bg-primary-light;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 15%;
  max-width: 100%;
  border-left: 1px solid rgba(0, 0, 0, 0.08);
  &__icon {
    position: absolute;
    right: 1rem;
    top: 0.8rem;
  }

  &__logo {
    margin-bottom: 5.5rem;
    img {
      width: 5rem;
    }
  }

  .nav-link {
    text-align: right;
    position: relative;
    padding-right: 3rem;
    color: $font-color-base;
  }
}
